#sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 240px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0D2F4A; 
    overflow-x: hidden; /* Disable horizontal scroll */
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
}

#sidebar h1 {
    color: white;
    text-align: center;
}

#sidebar nav {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    margin-left: 60px;
}

#sidebar a {
    text-decoration: none;
    line-height: 30px;
}

nav a{
    color: white;
}

.sideInfo {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    color: white;
    text-align: center;
}

.selected {
    color: #629CCB;
}

.profileImage {
    width: 60%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main {
    margin-left: 270px;
}

.socials {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.icon {
    width: 10%;
    margin-left: 5px;
    margin-right: 5px;
}